.size{
   width:60px;
   height:60px;
}



.Footer_main{
     position:relative;
    padding:1%;
    background-color:#495057;
    display:grid;
   grid-template-columns: auto auto;
    bottom:0;
}

.Footer_main>*{
    margin-top: 2%;
    text-align: left;
    justify-content: left;
    
}

span{
    width:10vw;

    display:flex;
    justify-content:space-between;
}

@media (max-width:600px){


    span{
        width:20vw;
    }

}