<div class="Footer_main fontF-1">

    <div>
        <h2>Ubícanos</h2>
            +57 (313) 5723051<br>
            Telefono: 2811748<br>
            <br>
            Carrera 13E # 25A-05 <br>
            Frente al estadio de Fútbol de Mochila<br>
           
            <br><br>
   
            © Andrés Varelo   <i class="fas fa-coffee"></i> & <i class="fas fa-heart"></i>



    </div>

  

    <div>
        <h2>Síguenos</h2>
      <span>
        <i class="fab  fa-2x fa-facebook"></i>
        <i class="fab fa-2x fa-whatsapp"></i>
    </span>
    </div>
</div>