<div class= "text-fc abs">
    <div class="img_up">
    <h2 class="img_up_text"> Centro Cristiano Salem</h2>
</div>
   
    <div class= "col center_c">
    <div class= "Anuncio shadow">
        <img src="../../../assets/img/mision.png" width="150px" height="150px" >
        <h2> Misión</h2>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus consequuntur fugit suscipit perferendis doloremque unde quas, quae optio fuga exercitationem, sunt vel ipsam officia nobis asperiores! Perferendis asperiores necessitatibus illum!</p>
    </div>
    <div class= "Anuncio shadow">
        <img src="../../../assets/img/mision.png" width="150px" height="150px">
        <h2> Visión</h2>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus consequuntur fugit suscipit perferendis doloremque unde quas, quae optio fuga exercitationem, sunt vel ipsam officia nobis asperiores! Perferendis asperiores necessitatibus illum!</p>
    </div>
    </div >
    <div class="center_c shadow mg-main Anuncio">
        <h2>Historia</h2>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus consequuntur fugit suscipit perferendis doloremque unde quas, quae optio fuga exercitationem, sunt vel ipsam officia nobis asperiores! Perferendis asperiores necessitatibus illum!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus consequuntur fugit suscipit perferendis doloremque unde quas, quae optio fuga exercitationem, sunt vel ipsam officia nobis asperiores! Perferendis asperiores necessitatibus illum!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus consequuntur fugit suscipit perferendis doloremque unde quas, quae optio fuga exercitationem, sunt vel ipsam officia nobis asperiores! Perferendis asperiores necessitatibus illum!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus consequuntur fugit suscipit perferendis doloremque unde quas, quae optio fuga exercitationem, sunt vel ipsam officia nobis asperiores! Perferendis asperiores necessitatibus illum!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus consequuntur fugit suscipit perferendis doloremque unde quas, quae optio fuga exercitationem, sunt vel ipsam officia nobis asperiores! Perferendis asperiores necessitatibus illum!
        </p>
    </div>





</div>