<div class= " abs">
    <div class="img_up">
    <h2 class="img_up_text"> Centro Cristiano Salem</h2>
</div>
   
    <div class= "col center_c">
    <div class= "Anuncio shadow fix-w">
        <img src="../../../assets/img/mision.png" width="100px" height="100px" >
        <h2 class="Blue_title"> Misión</h2>
        <p class ="just">{{mision}}</p>
    </div>
    <div class= "Anuncio shadow fix-w" >
        <img src="../../../assets/img/mision.png" width="100px" height="100px">
        <h2 class="Blue_title"> Visión</h2>
        <p class ="just"> {{vision}}</p>
    </div>
    </div >
    <div >
        <h2 class="text-fc Blue_title">Historia</h2>
        <app-slide-memu [tipo]="tipo" [datos]="datos_" ngClass="arrow" ></app-slide-memu>
    
    </div>


</div>

