
<div class = "menuContainer">
    


<div *ngFor="let data of datos" name ="elemento" class="elemento fade" >
 
    <app-card-main [data] = "data" *ngIf="tipo==0"> </app-card-main>
    <app-card-historia [data] = "data" *ngIf="tipo==1"> </app-card-historia>

    <!--app-horarios-cultos></app-horarios-cultos-->
    <!--img src = "./assets/img/im1.jpg"-->

</div>
<!--div  name ="elemento" class="elemento fade">
 
    <app-transmi></app-transmi>

    
</div-->


<a class= "prev" (click) = "change(-1)" >&#10094;</a>
<a class= "next" (click)="change(1)">&#10095;</a>
<!--div class = "Greetings">
</div-->

</div>
