<div class = "FC_bar">
    
    <div class="Main_Container font-1">
    <!--div class = "centerimg">
        <img  src="./assets/img/Facebook.png" (click)="goToPage()" >
    </div-->

<div>
    <h2>ÚLTIMA ESCUELA DOMINICAL</h2>
    <fb-video href="https://fb.watch/39J05NaLou/"
    (startPlaying)="onVideoEvent('startedPlaying')"
    (paused)="onVideoEvent('paused')"
    (finishedPlaying)="onVideoEvent('finishedPlaying')"
    (startedBuffering)="onVideoEvent('startedBuffering')"
    (finishedBuffering)="onVideoEvent('finishedBuffering')"
    (error)="onVideoEvent('error')"
    (width) ="220"
    target ="_top"
></fb-video>

<div>
    10 diciembre 2021
</div>

</div>
</div>
</div>
