
.Blue_title{
   color: #007bff;
}

.video{
    text-align: center;
    align-items:center;
    justify-content: center;
}


.Anuncio{

    width:35vw;
    height:80vh;
    overflow:hidden;
    margin:9% 0%;
  
}

@media (max-width:600px){
    
    .Anuncio{
        grid-template-columns: auto;
        width:90%;
    }
}

.text-fc{
    display:block;
    text-align: center;
}

