
.Blue_title{
   color: #007bff;
}

.video{
    text-align: center;
    align-items:center;
    justify-content: center;
}


.Anuncio{
  
    overflow:hidden;
  
}

.text-fc{
    display:block;
    text-align: center;
}

