.main-card{
    border:1px solid rgb(129, 123, 123);
    height: 70vh;
    width: 100vw;
    max-width:100%;
    border-radius: 10px;
    overflow:auto;
      background-color:white;
}

.img_card{
    border-radius: 10px;
    height: 30vh;
    width: auto;
  
}

img{
    border-radius: 10px 10px 0 0;
}

.tx-card{
    padding:0% 4%;
}