<div class = "form">

    <form>
        <h2 class="Blue_title">Dejanos tu Petición</h2>
        <p class="just">Queremos ser un apoyo para tí en todo momento, 
            permitenos conocer tus suplicas para orar junto a tí </p>

        <input class ="normal-in" type="text" placeholder="Nombres y Apellidos">

        <input class="normal-in" type="text" placeholder="Telefono" >
        
    
        <textarea class ="peticion"  >Escribe tu petición</textarea>
        <input type="submit">

    </form>
</div>