.form{
   
    width:60vw;
    margin:5% auto;

    border-radius:10px;
  
}

@media (max-width:600px){
    
    .form{
        width:95%;
    }
}
.fontW-1>*{
    color:black;
}

.form>*{
    display:flex;
    flex-direction:column; 
    margin:5% auto;  
    align-items: center;
    justify-content: center;
}


textarea{
    width:80%;
    float:left;
    resize:none;
}

textarea, input[type=text]{
    width:80%;
    margin:3% auto;
}
p{
    width:80%;
}

.normal-in{
  
    height:7vh;
}

.peticion{
    overflow:auto;
    height:30vh;
  
}

input[type=submit]{
    border-radius:10px;
    border:none;
    width:30%;
    height: 10vh;
    color:#007bff;
    font-size:20px;
    border:2px solid #007bff;
    background-color:white;
}

input[type=submit]:hover{
    background-color:#007bff;
    color:white;
}
