
<nav class="navigator" >

    <ul class= "font-1">
        

        <a href="#" >
            <li>
            Logo
            </li>
        </a>

        <a href="#" >
            <li>
             Cultos
            </li>
        </a>

        <a  href="#" >
            <li>
            Ministerios
            </li>
        </a>

        <a  href="#" >
            <li>
            Donativos
            </li>
        </a>

        <a href="#" >
            <li>
            Contáctanos 
            </li>
        </a>


    </ul>


   


</nav>




<router-outlet></router-outlet>
