
*{
    margin:0;
    padding:0;
}

.font-1{
    font-size: 16px;
    font-family: 'roboto',sans-serif;
    color:black; 
}

.navigator{
    position:static;
     box-shadow: 0px 0px 3px 0px black;
    
}

.navigator>ul{ 
    
    display:flex;
    justify-content: space-between;
    list-style: none;
}

.navigator>ul>a:hover{
    background-color: rgba(135, 126, 223, 0.596);
}

.navigator>ul>a{

   border-radius:5%;
    padding:1%; 
    border: 1px solid black;
    text-decoration: none;
    color:black;

}


/* Sub-menu*/


.sub_menu>ul{
   
    
    box-shadow: 1px 1px 1px 1px black;
    display:absolute;
    width:10%;
    list-style: none;
    position: absolute;
}


.sub_menu>ul>a>li{
   padding:4%;
    display:flex;
    justify-content: center;
    
}

.sub_menu>ul>a{
    text-decoration: none;
}


.sub_menu>ul>a>li:hover{
    background-color: rgba(135, 126, 223, 0.596);
}