<div>
  <div class="img_up">
    <p class="img_up_text"> <!-- Cada uno llevará ofrendas,<br>
                             según Dios lo haya bendecido <br>

                             Deuteronomio 16:17 -->
                            
                            </p>
</div>


<div class= "Anuncio shadow">
    <img src="../../../assets/img/donativo.png" width="150px" height="150px" >
    <h2> Donativos</h2>
    <p style = "text-align:center">
        Los donativos mediante diezmos, ofrendas primicias 
        son al forma en la que este ministerio puede sostenerse 
        para seguir expendiendo la palabra de nuestro señor <strong>Jesucrito</strong> 
        tus donacionesson bienvenidas en la cuenta XXXXXXXXXXX - Bancolombia 
</div>



</div>