<nav  >

    <ul class="navigator font-1">
    
            <li><a>Logo</a>
                
            </li>
        

        
            <li><a>Cultos</a>
             <ul>
                <li><a>Viernes</a></li>
                <li><a>Sábados</a></li>
                <li><a>Domingo</a></li>
            </ul>
            </li>


        
            <li>
            <a>Ministerios</a>
            <ul>
                <li><a>Alabanza</a></li>
                <li><a>Danza</a></li>
                <li><a>Empresarial</a></li>
                <li><a>Ujieres</a></li>
            </ul>
            
            </li>
    

    
            <li>
            <a>Donativos</a>
            </li>
    

        
            <li>
            <a>Contáctanos</a> 
            </li>
        


    </ul>

