<div class="header">
  <input type="checkbox" id="menu_cel" />
  <label for="menu_cel" class="nav_color"
    ><img src="../../../../assets/img/menu.png"
  /></label>
  <nav (window:scroll)="doSomethingOnInternalScroll($event)">
    <ul id="nav" class="navigator fontW-1 nav_transp">
      <a routerLink="">
        <img src="../../../../assets/img/logo.png" width="50px" height="80px"
      /></a>

      <div class="options" >
        <li name = "nav-opt" class = "nav-opt"><a class = "nav-opt-label"  routerLink="">Inicio</a></li>

        <li  name = "nav-opt" class = "nav-opt" >
          <a class = "nav-opt-label" >Ministerios <span>&#9660;</span></a>
          <ul id="submenu" class="nav-sub" name = "nav-sub" >
            <li><a>Ministerio 1</a></li>
            <li><a >Ministerio 2</a></li>
          </ul>
        </li>
        <li  name = "nav-opt"  class = "nav-opt"  >
          <a class = "nav-opt-label" routerLink="donativos">Donativos</a>
        </li>
        <li  name = "nav-opt" class = "nav-opt">
          <a class = "nav-opt-label" >Conócenos <span>&#9660;</span></a>
          <ul id="submenu" class="nav-sub" name = "nav-sub" >
            <li><a routerLink="conocenos">¿Quiénes Somos?</a></li>
            <li><a routerLink="pesca">5 Propositos</a></li>
          </ul>
        </li>
        <li  name = "nav-opt" class = "nav-opt" >
          <a class = "nav-opt-label" >Redes Sociales <span>&#9660;</span></a>
          <ul id="submenu" class="nav-sub" name = "nav-sub" >
            <li>
              <a><i class="fab fa-2x fa-facebook"></i> Facebook</a>
            </li>
          </ul>
        </li>
      </div>
    </ul>
    <div class="whatsapp" id="whatsappButton" (click)="sendWhatsappMsj()">
      <img src="../../../assets/img/whatsappIcon.png" />
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
