<nav  >

    <ul class="navigator font-1 ">
    
        <a routerLink = ''>  <img src="../../../../assets/img/logo.png" width="50px" height="80px"></a>
                

           <div class="options">
        
            <!--li><a>Cultos</a>
             <ul>
                <li><a>Viernes</a></li>
                <li><a>Sábados</a></li>
                <li><a>Domingo</a></li>
            </ul>
            </li-->


        
            <li>
            <a>Ministerios</a>
            <ul>
                <li><a>Salem Kids</a></li>
                <li><a>Jóvens Torre Fuerte</a></li>
                <li><a>Ujieres</a></li>
                <li><a>Danza</a></li>
                <li><a>Alabanza</a></li>
            </ul>
            
            </li>
    

    
            <li>
            <a routerLink ="donativos">Donativos</a>
            </li>
    

            <li>
                <a routerLink = "conocenos" >Conócenos</a>
                <ul>
                    <li><a routerLink = "conocenos">¿Quiénes Somos?</a></li>
                    <li><a>5 Propositos</a></li>
                </ul>
                </li>
        
        
       
        
            </div>

    </ul>

<router-outlet></router-outlet>