*{
    margin:0;
    padding:0;
}


.fontW-1 > *{
    
    color:black;
    font-size:15px; 
   
}

span{
    font-size:10px;
}
/* Static -> navbar will not move  if i scroll the page 
   display:flex y space-between help to accommodate the menu options
*/
.navigator{

     box-shadow: 0px 0px 3px 0px black;
     display:flex;
     justify-content: space-around;
     width:100%;
     max-width: 100%;
     position:fixed;
    z-index:99;
    top:0;
    

}


.nav-sub >li:hover{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.nav-sub{
    background-color:rgba(0, 0, 0, 0.747);
    color:white
}
 .nav_transp li a
{
    background-color:rgba(0, 0, 0, 0);

    color:white
}

.nav_transp {
    background-color:rgba(0, 0, 0, 0);

    color:white
}

.nav_color, .nav_color li a{
    background-color:white;
    opacity:0.9;
    color:black

}



.navigator li a:hover{
    background-position: left;
    
}

/*List without decoration */
ul{
    text-decoration: none;
    list-style: none;
}

/* Options in Nav Menu with fix pad of 10px  and display block */
.navigator li a{
   
     padding:35px 10px;
     display:block;
     justify-content: center;


     /* to left*/
     /*
     background: linear-gradient(to left, white 50%, lightblue 50% ) right;
     background-size: 201% 100%;
     transition: all .5s ease-in-out;
    
 */
    
}

/* Sub Menu options with absolute display for don't affect the other components*/
.navigator li ul {
    display:none;
    position:absolute;
    
}

.navigator li:hover> ul{
/*When i Hover in opciones its submenu will be displayed */


   box-shadow: 0px 0px 3px 0px black;
    display:block;
    justify-content: space-between;
   
}



.options{
    display:flex;
}
